.quipucords{
  &-select {
    position: relative;

    &-pf__position-down {
      transform: unset !important;
    }

    &-pf__no-toggle-text {
      span.pf-c-select__toggle-arrow {
        margin-left: var(--pf-c-select__toggle-arrow--MarginRight);
      }

      span.pf-c-select__toggle-text {
        display: none;
      }
    }

    &-pf__position-right {
      > .pf-c-select__menu {
        right: 0;
      }
    }

    &-pf__button {
      position: absolute !important;
      left: 0;
      z-index: -1;

      button.pf-c-select__toggle {
        visibility: hidden;
      }
    }

    &__inline {
      display: inline-block;
    }
  }
}
