/* _pageLayout.scss */
/*
.navbar-pf-vertical .nav .nav-item-iconic {
  line-height: inherit;
}

.nav-pf-vertical .list-group-item.collapsed-nav-item {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}
*/
.quipucords-navItem {
  button.quipucords-navItem {
    // &.pf-c-button.pf-m-link.pf-c-nav__link {
    color: var(--pf-c-nav__link--m-current--Color) !important;
    // }

    .pf-c-button__icon {
      color: var(--pf-c-nav__link--m-current--BackgroundColor) !important;
      // fill: var(--pf-c-nav__link--m-current--BackgroundColor) !important;
      margin-right: 1em;
    }

    &.pf-m-current .pf-c-button__icon {
      color: var(--pf-c-page__header--BackgroundColor) !important;
      // fill: red !important;
    }
  }
}
