.pf-c-form__helper-text {
  font-size: var(--pf-global--FontSize--md) !important;
}

.pf-c-select.pf-m-expanded input[type="radio"],
.pf-c-select.pf-m-expanded input[type="checkbox"] {
  margin-top: inherit;
}

.quipucords-form__checkbox input,
.quipucords-form__radio input {
  margin: inherit;
}

.quipucords {
  .pf-c-pagination .pf-c-options-menu__toggle,
  .pf-c-pagination__nav-page-select > *,
  .pf-c-table tr > * {
    font-size: var(--pf-global--FontSize--md);
  }
}
